@import url("https://fonts.googleapis.com/css2?family=Bytesized&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

html,
body {
	width: 100dvw;
	max-width: 100dvw;
	overflow-x: hidden;
}

* {
  font-family: "Space Grotesk", sans-serif;
}

.byte {
	font-family: "Bytesized", sans-serif;
	font-weight: 400;
	font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}